@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');
@media only screen and (max-width: 600px) {
    div.rightcontainer{
        clear:right;
       width: 100%;
    }
    div.leftcontainer{
        clear: left;
        width: 100%;;
    } 
}    
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #145f94;
    text-align: center;
    padding: 35px;  
    font-size: 25px;
    color:#ffffff;
}
.container{
    width:86%;
    margin: auto;
    margin-top: 70px;
}
.leftcontainer{
    width: 60%;
    float: left;

}
.rightcontainer{
    width: 38%;
    float: right;
}
.card{
   margin-bottom: 20px;
   border: 2px solid #145f94;; 
}

.header{
    background-color: #145f94;;
    padding: 13px;  
    color:aliceblue;
    font-weight:bold;
    font-size: 10px;
    text-align: left;
    font-size: 20px;
}
.description{
    padding: 17px;
    line-height: 1.4;
    text-align: justify;

}