*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
form {
    margin: auto;
    width: 80%;
}

body {
    background-color: #f5f5f5;
}

/* title */
.title {
    font-size: 18px;
    margin-top: 37px;
    margin-bottom: 32px;
    font-weight: 450;
    letter-spacing: 0.4px;
}

/* input tag */
label {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
}

/* image */
.image {
    display: flex;
    justify-content: center;
    margin-top: -49px;
}

.image img {
    width: 270px;
}

/* container */
.container {
    width: 622px;
    margin: auto;
    background-color: #ffffff;
    padding: 5px;
    margin-top: -23px;



}
input{
    padding-left: 5px;
}
p {
    color: #071b6d;
    font-weight: bold;
    letter-spacing: 0.8;
}

form {
    margin: auto;
    border: 8px;
    margin-left: 5%;
}

.first-heading {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;

}

.second-heading {
    display: flex;
    margin-bottom: 20px;
}

.contact {
    margin-bottom: 20px;
}

.pincode {
    margin-bottom: 20px;
}

.card-number {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    margin-bottom: 20px;
}
/* button */

.button {
    display: flex;
    background-color: #071b6d;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 565px;
    height: 45px;
    margin-bottom: 34px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #071b6d;
}

.error-color {
    margin-top: 5px;
    color: rgb(163, 31, 18);
    font-size: 12px;
    font-weight: 400;
}

.lastname {
    margin-left: 28px;
}

/* input type shape */

.small-box {
    width: 263px;
    height: 41px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}


.long-box {
    width: 556px;
    height:41px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}

.cvv-number {
    margin-left: 28px;
}